DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=tourism_db
API_KEY=tourism_app_v2_secret_key_2026
JWT_SECRET=tourism_app_v2_jwt_secret_2026_shhhh

PORT=3000
NODE_ENV=development

# Mail Configuration (for OTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=mikogapasan04@gmail.com
MAIL_PASS=saiafcpioooagfqq
MAIL_FROM="San Pablo City Tourism"

                                   